.hero {
  padding: 5.25rem 0;
  background-image: url('@/assets/images/bg.png');
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero h1 {
  font-size: 4.75rem;
  font-weight: 700;
  text-align: center;
}

.buttonGroup {
  margin: 2.5rem auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonGroup button {
  min-width: 180px;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  border: 2px solid #EF443B;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  background: #EF443B;
  color: #ffffff;
  transition: all .5s;
}

.buttonGroup button:hover {
  background: transparent;
}

.buttonGroup button:first-child {
  margin-right: 2rem;
}

.countDownTimer {
  margin: 2.5rem auto 0;
}

.countDownTimer h4 {
  font-size: 1.15rem;
  text-align: center;
}

.countDownTimer .timer {
  margin: 1.5rem auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  padding: 1rem;
}

.timer h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #EF443B;
}

.timer p {
  margin-top: .25rem;
  font-weight: 300;
  text-transform: uppercase;
}

.timer h3,
.timer p {
  text-align: center;
}

.acceptedCryptoPayment {
  margin: 2.5rem auto 0;
  text-align: center;
}

.acceptedCryptoPayment p {
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: uppercase;
}

.acceptedCryptoPayment ul {
  margin: 2.5rem auto 0;
}

.acceptedCryptoPayment ul li {
  display: inline-flex;
  align-items: center;
  margin-right: 2rem;
}

.acceptedCryptoPayment ul li img {
  margin-right: .5rem;
}