.container {
  max-width: 1124px;
  margin: 0 auto;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #EF443B;
  text-decoration: none;
}

.navbar nav a {
  margin-right: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.navbar nav a:last-child {
  margin-right: 0;
}

.navbar button {
  padding: .5rem;
  border: 2px solid #EF443B;
  border-radius: 5rem;
  background: transparent;
}



